# # Ignore everything
# *

# # But not these files...
# !utils/
# !utils/*
EDA.ipynb

iframe_figures/
model_assets/
model_assets/*
# processed_dataset/*

*/.ipynb_checkpoints/*
.ipynb_checkpoints/*

*/__pycache__/*

sketches-kh.ipynb